# Cloudflare Workers
.wrangler
.mf/

# Vitest coverage output
coverage/

# Node.js
node_modules
npm-debug.log
*.log

# macOS
.DS_Store

# IDE / Editor specific
.idea/
.vscode/

# Temp files
*.tmp

# env
.env
.dev.vars